<%= content_tag :div, id: "#{field.name}_wrapper", class: field.wrapper_class, 'data-dependency' => field.dependency_json do -%>

  <div class="checkbox">
    <%= label_tag '' do %>
      <%= hidden_field_tag field.name, 0 %>
      <%= check_box_tag field.name, 1, field.checked?, field.input_attributes %>
      <%= field.label << ("*" if field.required?).to_s %>
    <% end -%>
  </div>

  <% unless field.error.empty? -%>
    <%= content_tag :span, field.error, class: 'error' %>
  <% end -%>
  
<% end -%>