<%= hidden_field_tag :form_action %>

<h1><%= form.current_page.title %></h1>

<% form.current_page.elements.each do |el| %>
  <%= render partial: "#{views_prefix}/#{el.class.name.demodulize.underscore}", locals: { field: el, views_prefix: views_prefix } %>
<% end %>

<%=
  # Previous page button
  if form.prev_page
    hungry_link_to_prev_page(
      form, 
      "Prev", 
      {
        class: HungryForm.configuration.rails.prev_button_class,
        method: :post
      }
    )
  end  
-%>
<%= 
  # Next Page Button
  if form.next_page
    hungry_link_to_next_page(
      form, 
      "Next", 
      {
        class: HungryForm.configuration.rails.next_button_class,
        method: :post
      }
    ) 
  end 
-%>
<%= 
  # Submit button
  if form.current_page == form.pages.last
    hungry_link_to_submit(
      form, 
      "Submit", 
      {
        class: HungryForm.configuration.rails.submit_button_class,
        method: :post
      }
    ) 
  end 
%>